.checkout {
  .checkout__wrapper {
    max-width: 1500px;
  }

  .checkout__banner {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0)
    );
  }

  .product__rating {
    font-size: 10px;

    .product__ratingStar {
      color: #f0c14b;
      font-size: 14px;
    }
  }

  .checkout__btnStyle {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    &:active {
      background: linear-gradient(to bottom, #f3d078, #f3d078);
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .checkout__btnSignin {
    border-color: #ececec;
    background: linear-gradient(to bottom, #9b9b9b, #3d3d3d);
    cursor: not-allowed;
  }
}
