.checkout {
  .checkout__wrapper {
    max-width: 1500px;
  }

  .checkout__banner {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0)
    );
  }

  .checkout__btnStyle {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    &:active {
      background: linear-gradient(to bottom, #f3d078, #f3d078);
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .checkout__btnSignin {
    border-color: #ececec;
    background: linear-gradient(to bottom, #9b9b9b, #3d3d3d);
    cursor: not-allowed;
  }

  // loader of proceed btn
  .loader {
    width: 28px;
    height: 28px;
    border: 5px dotted #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
